[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JWeee (jackwee)
[access "refs/for/refs/*"]
	read = group user/JWeee (jackwee)
	push = group user/JWeee (jackwee)
	label-Code-Review = -2..+2 group user/JWeee (jackwee)
	label-Verified = -1..+1 group user/JWeee (jackwee)
	rebase = group user/JWeee (jackwee)
	removeReviewer = group user/JWeee (jackwee)
	submit = group user/JWeee (jackwee)
[access "refs/heads/*"]
	read = group user/JWeee (jackwee)
	create = group user/JWeee (jackwee)
	push = +force group user/JWeee (jackwee)
	pushMerge = group user/JWeee (jackwee)
[access "refs/tags/*"]
	push = +force group user/JWeee (jackwee)
	pushTag = group user/JWeee (jackwee)
	pushSignedTag = group user/JWeee (jackwee)
